JWT_SECRET=SimpleEnergyTVSecret2077
PORT=5000
GOOGLE_SHEET_ID=1rfqH_VKMWxP5lOl9l7kpsm4UMjPPfaKBkIO42jEa4Z4
CAMDRUM_SHEET_ID=1rfqH_VKMWxP5lOl9l7kpsm4UMjPPfaKBkIO42jEa4Z4
MECHANICAL_SHEET_ID=1iwIeRSa3CxeHccCdXXe_rF4iBLvdpOt0n_I0Hw10S9c
ORD_SHEET_ID=
GOOGLE_SHEET_NAME=test
GOOGLE_CREDENTIALS_PATH=./google-credentials-tv.json
GOOGLE_CREDENTIALS_JSON={"type":"service_account",...}
SYNC_INTERVAL_MS=60000
